In [2]:
import pandas as pd
from sqlalchemy import create_engine
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:

def get_db_connection():
    engine = create_engine('mysql+mysqlconnector://root:Seenu%40123@localhost/odi_cricket')
    return engine


def fetch_data():
    conn = get_db_connection()
    batting_data = pd.read_sql("SELECT * FROM batting_performances", conn)
    bowling_data = pd.read_sql("SELECT * FROM bowling_performances", conn)
    players_data = pd.read_sql("SELECT * FROM players", conn)
    matches_data = pd.read_sql("SELECT * FROM matches", conn)
    conn.dispose()
    return batting_data, bowling_data, players_data, matches_data

In [6]:
# Fetch data
batting_data, bowling_data, players_data, matches_data = fetch_data()
print(batting_data.head())

   id  match_id  innings       team  batsman   runs  balls  fours  sixes  \
0   1     64381        1  Sri Lanka   1810.0    5.0   17.0    0.0    0.0
1   2     64357        1   Pakistan   1981.0   35.0   48.0    2.0    0.0
2   3     65455        1  Australia   1922.0   16.0   30.0    1.0    0.0
3   4     64381        1  Sri Lanka   1987.0    6.0   46.0    0.0    0.0
4   5     64357        1   Pakistan   1750.0  114.0  123.0   14.0    0.0

   strike_rate  is_out wicket_type  fielders  bowler
0        29.41       1         lbw      None     NaN
1        72.91       1      caught  ['1977']     NaN
2        53.33       1      caught  ['1945']     NaN
3        13.04       1      caught  ['1980']     NaN
4        92.68       1     run out      None     NaN